$color-primary: #34558B;
$color-secondary: #EE6C4D;
$color-tertiary: #73937E;

$color-primary-light: #557dbf;
$color-primary-dark: #1d2f4d;

$color-secondary-light: #f1866c;
$color-secondary-dark: #eb522e;

$color-tertiary-light: #99b1a1;
$color-tertiary-dark: #4d6455;

$color-grey-dark: #080708;
$color-grey-dark-2: #9f919f;
$color-grey-dark-3: #3e373e;

$color-background: #E3DAFF;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #eeecee;
$color-grey-light-2: #beb5be;

$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 6rem;

$default-font-size: 1.6rem;
$default-radius-size: 3px;
